<!DOCTYPE html>
<html>
  <head>
    <title>Layout</title>
  </head>
  <body>
    <h1>Layout</h1>
    <ul>
      <li><a href="sidebar-with-two-columns.html">Sidebar with two columns</a></li>
      <li><a href="columns-with-a-row-below.html">Columns with a row below</a></li>
      <li><a href="two-columns.html">Two columns</a></li>
      <li><a href="two-columns-and-one-has-two-rows.html">Two columns and one has two rows</a></li>
      <li><a href="three-columns.html">Three columns</a></li>
      <li><a href="three-columns-with-nesting-divs.html">Three columns with nesting divs</a></li>
    </ul>
  </body>
</html>
