---
layout: default
title: Layouts
styles: [main.css, layouts.css]
---
<h1>Layout</h1>

<h2>Three columns with a footer</h2>
<section class="simple-example">
  <div class="col3withfoot__box-1">
    <h1>Box One</h1>
    <p>This will always be in the first column.</p>
  </div>
  <div class="col3withfoot__box-2">
    <h1>Box Two</h1>
    <p>This will move to the second column along with the third box.</p>
  </div>
  <div class="col3withfoot__box-3">
    <h1>Box Three</h1>
    <p>This will continue on to be a third column.</p>
  </div>
  <div class="col3withfoot__footer">
    <h1>Box four</h1>
    <p>This will always be below.</p>
  </div>
</section>

<h2>Two columns with a sidebar</h2>
<section class="simple-example">
  <div class="col2withside__sidebar">
    <h1>Sidebar</h1>
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </div>
  <div class="col2withside__main">
    <div class="col2withside__box-1">
      <h1>Box One</h1>
      <p>This is the first box.</p>
    </div>
    <div class="col2withside__box-2">
      <h1>Box Two</h1>
      <p>This is the second, and even greater, box.</p>
    </div>
  </div>
</section>

<h2>Three columns</h2>
<section class="simple-example">
  <div class="col3__box-1">
    <h1>Box One</h1>
    <p>This will always be in the first column.</p>
  </div>
  <div class="col3__box-2">
    <h1>Box Two</h1>
    <p>This will move to the second column along with the third box.</p>
  </div>
  <div class="col3__box-3">
    <h1>Box Three</h1>
    <p>This will continue on to be a third column.</p>
  </div>
</section>

<h2>Three columns with nesting divs</h2>
<section class="simple-example">
  <div class="col3nested__col-1">
    <h1>Box One</h1>
    <p>This will always be in the first column.</p>
  </div>
  <div class="col3nested__col-2">
    <div class="col3nested__col-2__box-1">
      <h1>Box Two</h1>
      <p>This will move to the second column along with the third box.</p>
    </div>
    <div class="col3nested__col-2__box-2">
      <h1>Box Three</h1>
      <p>This will continue on to be a third column.</p>
    </div>
  </div>
</section>

<h2>Two columns and one has two rows</h2>
<section class="simple-example">
  <div class="col2withnestedrow__column-1">
    <h1>Box One</h1>
    <p>This is the first column.</p>
  </div>
  <div class="col2withnestedrow__column-2">
    <div class="col2withnestedrow__row-1">
      <h1>Box Two</h1>
      <p>This is the first row in the second column.</p>
    </div>
    <div class="col2withnestedrow__row-2">
      <h1>Box Three</h1>
      <p>This is the second row in the second column.</p>
    </div>
  </div>
</section>

<h2>Two columns</h2>
<section class="simple-example">
  <div class="col2__box-1">
    <h1>Box 1</h1>
    <p>This is the first box.</p>
  </div>
  <div class="col2__box-2">
    <h1>Box 2</h1>
    <p>This is the second box.</p>
  </div>
</section>
