<!DOCTYPE html>
<html>
  <head>
    <title>Sidebar with Two Column</title>
    <link rel="stylesheet" href="sidebar-with-two-columns.css">
  </head>
  <body>
    <div class='sidebar'>
      <h1>Sidebar</h1>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </div>
    <div class='main'>
      <div class='box-1'>
        <h1>Box One</h1>
        <p>This is the first box.</p>
      </div>
      <div class='box-2'>
        <h1>Box Two</h1>
        <p>This is the second, and even greater, box.</p>
      </div>
    </div>
  </body>
</html>
