<!DOCTYPE html>
<html>
  <head>
    <title>Three columns with nesting divs</title>
    <link rel="stylesheet" href="three-columns-with-nesting-divs.css">
  </head>
  <body>
    <div class='col-1'>
      <h1>Box One</h1>
      <p>This will always be in the first column.</p>
    </div>
    <div class='col-2'>
      <div class='col-2__box-1'>
        <h1>Box Two</h1>
        <p>This will move to the second column along with the third box.</p>
      </div>
      <div class='col-2__box-2'>
        <h1>Box Three</h1>
        <p>This will continue on to be a third column.</p>
      </div>
    </div>
  </body>
</html>
