<!DOCTYPE html>
<html>
  <head>
    <title>Three columns</title>
    <link rel="stylesheet" href="three-columns.css">
  </head>
  <body>
    <div class='box-1'>
      <h1>Box One</h1>
      <p>This will always be in the first column.</p>
    </div>
    <div class='box-2'>
      <h1>Box Two</h1>
      <p>This will move to the second column along with the third box.</p>
    </div>
    <div class='box-3'>
      <h1>Box Three</h1>
      <p>This will continue on to be a third column.</p>
    </div>
  </body>
</html>
