<!DOCTYPE html>
<html>
  <head>
    <title>Two columns and one has two rows</title>
    <link rel="stylesheet" href="two-columns-and-one-has-two-rows.css">
  </head>
  <body>
    <div class='column-1'>
      <h1>Box One</h1>
      <p>This is the first column.</p>
    </div>
    <div class='column-2'>
      <div class='row-1'>
        <h1>Box Two</h1>
        <p>This is the first row in the second column.</p>
      </div>
      <div class='row-2'>
        <h1>Box Three</h1>
        <p>This is the second row in the second column.</p>
      </div>
    </div>
  </body>
</html>
