.col2withnestedrow {
  &__column-1 {
    background-color: #eee;
    @media screen and (min-width: 480px) {
      width: 50%;
      float: left; } }
  &__column-2 {
    background-color: #eee;
    @media screen and (min-width: 480px) {
      width: 50%;
      float: left; } }
  &__row-1 {
    background-color: #ddd; }
  &__row-2 {
    background-color: #ddd; } }
