.col2withside {
  &__sidebar {
    background-color: #fd8;
    @media screen and (min-width: 480px) {
      float: left; } }
  &__main {
    @media screen and (min-width: 480px) {
      overflow: hidden; } }
  &__box-1 {
    background-color: #8df;
    @media screen and (min-width: 720px) {
      float: left;
      width: 50%; } }
  &__box-2 {
    background-color: #d8f;
    @media screen and (min-width: 720px) {
      float: left;
      width: 50%; } } }
