---
---
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
.example {
  margin: 2em;
  padding: 1em;
  background-color: white;
  &:after {
    content: "";
    display: table;
    clear: both; } }
@import "l-three-columns-with-a-footer";
@import "l-two-columns-with-a-sidebar";
@import "l-three-columns";
@import "l-three-columns-nested";
@import "l-two-columns-with-nested-row";
@import "l-two-columns";
